/*
	GALE COMPONENTS
 */

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


/*--------------------------------------------------*/
/*  GALE TABLE
/*--------------------------------------------------*/
.gale-table {
	display: inline-block;
	margin: 0;
	min-height: 100%;
	width: 100%;
	font-size: 14px;
}

.gale-table > .gale-body,
.gale-table > .gale-header {
	margin: 0;
	min-height: 100%;
	width: 100%;
}

.gale-table > .gale-body {
	display: inline-block;
}

.gale-table > .gale-header {
	border-bottom: 1px solid #EEE;
}

.gale-table > .gale-empty {
	padding: 8px;
    color: rgba(0,0,0,0.57);
}

.gale-table > .gale-header > .gale-column {
	display: inline-block;
	text-align: left;
	padding: 18px 8px;
	overflow: hidden;
	color: rgba(0,0,0,0.57);

}

.gale-table > .gale-body > .gale-row {
	text-align: left;
	border-bottom: 1px solid #EEE;
	outline: 0;
}

.gale-table.row-click > .gale-body > .gale-row {
	cursor: pointer;
	border-bottom: 1px solid #EEE;
}

.gale-table > .gale-body > .gale-row:hover{
	background-color: #F5F5F5;
}

.gale-table > .gale-body > .gale-row > gale-cell{
	color: rgba(0,0,0,0.87);
    padding: 0px 8px;
    overflow: hidden;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gale-table > .gale-body > .gale-row .thumb {
	height: 2.2em;
	width: 2.2em;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 0px;
	margin-bottom: 0px;
}

.gale-table > .gale-body > .gale-row .thumb > img{
	width: 100%
}

.gale-table > .gale-body > div.loading md-progress-linear {
	margin-top: -5px;
	margin-bottom: 16px;
}